Repository Financial-Times/origami-version, pull requests merged in 2021-01, with the labels that each got.

#103 update example.yml to use latest version
  example.yml
Labels: release:patch

#104 update readme to reference latest version of the action
  readme.md
Labels: release:patch

#106 use latest version of the origami-version action
  .github/workflows/automatic-tag-and-release.yml
  example.yml
  readme.md
Labels: release:patch

#107 use correct file name for the bundled code
  .github/workflows/automatic-tag-and-release.yml
  action.yml
  package.json
Labels: release:patch

#108 use the version of the origami-version action which is currently checked out via git
  .github/workflows/automatic-tag-and-release.yml
Labels: release:patch

#110 Add ability to release beta versions
  .eslintrc.js
  lib/index.js
  test/lib.test.js
Labels: release:minor

#118 Add ability to automatically release a major/minor/patch beta
  lib/index.js
  test/lib.test.js
Labels: release:patch

#119 Log progress when the action is running.
  index.js
Labels: release:patch

#120 Log more information whilst running
  index.js
Labels: release:patch

#123 `${{ env.GITHUB_BASE_REF }}` not `${{ GITHUB_BASE_REF }}`
  .github/workflows/automatic-tag-and-release.yml
Labels: release:patch

#125 Remove excess newline from readme
  readme.md
Labels: release:patch

#126 Push the current head to the base branch on build
  .github/workflows/automatic-tag-and-release.yml
Labels: release:patch

#127 Attempt to skip review check when auto committing build to master
  .github/workflows/automatic-tag-and-release.yml
Labels: release:patch

#131 Remove readme whitespace (to release a test beta)
  readme.md
Labels: release:beta, release:major

#132 Fix yml create release pr
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#133 Update `create-release-pr.yml` tags-ignore to match fewer refs
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#135 Remove unsued input from example
  .github/workflows/create-release-pr.yml
  readme.md
Labels: release:beta, release:major

#136 Update create-release-pr.yml tag filter
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#137 Remove trailing whitespace
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#138 Remove tags check from create-release-pr workflow (test)
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#139 look for labels on the pull request event when releasing a new version
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#140 Use self to create a release pr (no v1)
  .github/workflows/create-release-pr.yml
  readme.md
Labels: release:beta, release:major

#141 Remove unused github-token input
  .github/workflows/create-release-pr.yml
  readme.md
Labels: release:beta, release:major

#142 Version self on release
  .github/workflows/create-release-pr.yml
  dist/main.js
Labels: release:beta, release:major

#143 `run` not `runs` in github action
  .github/workflows/create-release-pr.yml
Labels: release:beta, release:major

#144 Revert "Attempt to skip review check when auto committing build to ma…
  .github/workflows/automatic-tag-and-release.yml
Labels: release:minor

#145 Remove readme lies
  readme.md
Labels: release:patch
